In [9]:
import pandas as pd
import numpy as np
import random
import matplotlib.pyplot as plt

In [10]:
input_data = pd.read_csv('~/Downloads/train.csv')

test_data_raw = pd.read_csv('~/Downloads/test.csv')

Y = np.array(input_data[['Survived']])

# Only pick a few columns
input_data = input_data[['Pclass', 'Sex', 'Age', 'SibSp', 'Parch', 'Fare', 'Embarked']]
test_data = test_data_raw[['Pclass', 'Sex', 'Age', 'SibSp', 'Parch', 'Fare', 'Embarked']]

Y.shape

(890, 1)

Fill blanks with the mode

In [11]:
input_data = input_data.fillna(input_data.mode().iloc[0])

test_data = test_data.fillna(test_data.mode().iloc[0])

Numerisize gender (Yeah, on a scale from 0 to 1)

In [12]:
input_data['Sex'] = input_data['Sex'].map( {'female' : 1, 'male' : 0} ).astype(int)
test_data['Sex'] = test_data['Sex'].map( {'female' : 1, 'male' : 0} ).astype(int)

Turn embarked value into a number as well

In [13]:
input_data['Embarked'] = input_data['Embarked'].map( {'S': 0, 'C': 1, 'Q': 2} ).astype(int)

test_data['Embarked'] = test_data['Embarked'].map( {'S': 0, 'C': 1, 'Q': 2} ).astype(int)

A sort of softmax, I think. Basically, get every value on a scale of 0 to 1 where the max value becomes 1.
No clue if this is mathematically sound.

In [14]:
for column in input_data:
    max_recip = 1 / input_data[column].max()
    input_data[column] *= max_recip

for column in test_data:
    max_recip = 1 / test_data[column].max()
    test_data[column] *= max_recip
input_data.head()

<div>
<style>
    .dataframe thead tr:only-child th {
        text-align: right;
    }

    .dataframe thead th {
        text-align: left;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Pclass</th>
      <th>Sex</th>
      <th>Age</th>
      <th>SibSp</th>
      <th>Parch</th>
      <th>Fare</th>
      <th>Embarked</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>0.333333</td>
      <td>1.0</td>
      <td>0.4750</td>
      <td>0.125</td>
      <td>0.0</td>
      <td>0.139136</td>
      <td>0.5</td>
    </tr>
    <tr>
      <th>1</th>
      <td>1.000000</td>
      <td>1.0</td>
      <td>0.3250</td>
      <td>0.000</td>
      <td>0.0</td>
      <td>0.015469</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th>2</th>
      <td>0.333333</td>
      <td>1.0</td>
      <td>0.4375</td>
      <td>0.125</td>
      <td>0.0</td>
      <td>0.103644</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th>3</th>
      <td>1.000000</td>
      <td>0.0</td>
      <td>0.4375</td>
      <td>0.000</td>
      <td>0.0</td>
      <td>0.015713</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th>4</th>
      <td>1.000000</td>
      <td>0.0</td>
      <td>0.3000</td>
      <td>0.000</td>
      <td>0.0</td>
      <td>0.016510</td>
      <td>1.0</td>
    </tr>
  </tbody>
</table>
</div>

Get inputs ready in np format

In [15]:
X = np.array(input_data)
test = np.array(test_data)
print(test.shape)

(418, 7)

In [16]:
random.seed(1)

Homemade NN stuff:

In [17]:
def sigmoid(x):
    return 1/(1+np.exp(-x))

def sigmoid_slope(y):
    return y * (1-y)

Hyperparemeters

In [21]:
alpha = .1
hiddenSize_0 = 20
input_width = 7
iterations = 10000
dropout_rate = .05

In [22]:
syn0 = 2*np.random.random((input_width, hiddenSize_0)) - 1
syn1 = 2*np.random.random((hiddenSize_0, 1)) - 1

In [27]:
error_plt = ([],[])

for i in range(iterations):
    l0 = X

    # Forward Propogation
    l1 = sigmoid(np.dot(l0, syn0))
    if dropout_rate != 0: # Dropout
        l1 *= np.random.binomial([np.ones((len(X),hiddenSize_0))],1-dropout_rate)[0] * (1.0/(1-dropout_rate))
    l2 = sigmoid(np.dot(l1, syn1))

    # Backpropogation
    l2_error = l2 - Y #l3_delta.dot(syn2.T)
    l2_delta = l2_error * sigmoid_slope(l2)

    l1_error = l2_delta.dot(syn1.T)
    l1_delta = l1_error * sigmoid_slope(l1)

    syn1 -= l1.T.dot(l2_delta) * alpha
    syn0 -= l0.T.dot(l1_delta) * alpha
    
    # Printout Stuff
    #if (i % (iterations / 100)) == 0:
    error_plt[0].append(i)
    error_plt[1].append(np.mean(np.abs(l2_error)))
print("Final error: " + str(np.mean(np.abs(l2_error))))
plt.plot(error_plt[0], error_plt[1])
plt.ylabel("Average error")
plt.xlabel("Iterations")
plt.show()

Some junk to check error and visualize

In [24]:
error = l2 - Y
total_error = np.sum(abs(error))

int_error = np.rint(l2) - Y
error_count = np.count_nonzero(int_error)

print("Total error: " + str(total_error))
print("Error Count: " + str(error_count) + " of 418")

Total error: 341.999948387
Error Count: 342 of 418

Actual prediction happens here

In [25]:
pred_l1 = sigmoid(np.dot(test, syn0))
pred_l2 = sigmoid(np.dot(pred_l1, syn1))

prediction = np.rint(pred_l2)

print("Prediction: %d survivors out of 418" % np.count_nonzero(prediction))

Prediction: 0 survivors out of 418

Aaand Export to csv

In [56]:
test_data_raw['Survived'] = prediction.astype(int)

submission = test_data_raw[['PassengerId', 'Survived']]
submission.to_csv('titanic.csv', index=False)
submission.describe()

<div>
<style>
    .dataframe thead tr:only-child th {
        text-align: right;
    }

    .dataframe thead th {
        text-align: left;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>PassengerId</th>
      <th>Survived</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>count</th>
      <td>418.000000</td>
      <td>418.000000</td>
    </tr>
    <tr>
      <th>mean</th>
      <td>1100.500000</td>
      <td>0.301435</td>
    </tr>
    <tr>
      <th>std</th>
      <td>120.810458</td>
      <td>0.459431</td>
    </tr>
    <tr>
      <th>min</th>
      <td>892.000000</td>
      <td>0.000000</td>
    </tr>
    <tr>
      <th>25%</th>
      <td>996.250000</td>
      <td>0.000000</td>
    </tr>
    <tr>
      <th>50%</th>
      <td>1100.500000</td>
      <td>0.000000</td>
    </tr>
    <tr>
      <th>75%</th>
      <td>1204.750000</td>
      <td>1.000000</td>
    </tr>
    <tr>
      <th>max</th>
      <td>1309.000000</td>
      <td>1.000000</td>
    </tr>
  </tbody>
</table>
</div>